//-------------------------------------------------------------------------------
// Stylesheet targeting the grid of the dashboard including menu animation
//
//
//-------------------------------------------------------------------------------

.api-error-log {
  position:fixed;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px #ccc;
  bottom: 80px;
  left: 50px;
  background: #fff;
  z-index: 1200;
}

.string { color: #a4e0b4; white-space: normal;}
.number { color: #ffc3c3; }
.boolean { color: #b4e2e2; }
.null { color: #fbbef1; }
.key { color: #d8dea7; }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  h1 {
    margin-left: auto;
    color: #90BC4A;
    span {
      color: #5a5a5a;
    }
    span:first-child {
      color: #764ABC;
      font-weight: 700;
    }

  }

  a {
    margin-left: auto;
  }

  img {
    height: 100px;
    margin-bottom: 8px;
  }
}

.main {
  display: flex;
  flex: 1;
  overflow-y: scroll;
  > div {
    width: 50%;
    display: flex;
    flex-direction: column;

    .action-title {
      margin-left: 25px;
    }

    > div{
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
    }

    .menu {
      display: flex;
      cursor: pointer;
    }

    .hamburger {
      margin: 25px;
      span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #fff;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
      }

      span:first-child {
        transform-origin: 0% 0%;
      }

      span:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }

    .active {
      flex: 1;
      .hamburger {
        span {
        opacity: 1;
        transform: rotate(45deg) translate(-7px, -14px);
      }
        span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }
        span:nth-last-child(2) {
          transform: rotate(-45deg) translate(-6px, 13px);
        }
      }


    }


    pre{
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 5px;
      margin: 15px;
      margin-left: 5px;
    }

    .reducer-specs {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      margin-left: 15px;

      pre {
        margin-left: auto;
        margin-right: 15px;
      }

      pre:first-child {
        margin: 15px;
        margin-left: 5px;
      }

      p {
        margin-left: auto;
        margin-right: 15px;
      }
      button {
        color: #5a5a5a;
        cursor: pointer;
        margin-right: 15px;
        margin-bottom: 15px;
        margin-top: 15px;
        padding: 5px;
      }
    }

    h2 {
      margin-top: 21px;
      cursor: pointer;
      color: #fff;
    }

    &:last-child {
      overflow-y: scroll;
    }

  }
}


footer {
  height: 50px;
  margin-top: auto;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
    margin-right: 15px;
    height: 25px;
  }
  p {
    color: #5a5a5a;
    margin-right: 15px;
  }
}
