//-------------------------------------------------------------------------------
// Global Variables and basic mixins shared across sub-stylesheets calling
// them with the @import directive.
//
//
//-------------------------------------------------------------------------------

//-------------------------------------------------------------------------------
// Fonts
//-------------------------------------------------------------------------------


//-------------------------------------------------------------------------------
// Colors
//-------------------------------------------------------------------------------

$med-gray: #ccc;
$med-dark-gray: #a9a9a9;
$deep-gray: #665;

$background-grey: #e4e4e4;


@mixin error {
  box-shadow: 0 0 4px 1px $attention-red;
}

//-------------------------------------------------------------------------------
// Gradients
//-------------------------------------------------------------------------------

$svg-orange-gradient: url(#linear-gradient-orange);
$orange-gradient-vert: linear-gradient(#f8874b, #ffb33d);
$orange-gradient-horiz: linear-gradient(to right, #f8874b 50%, #ffb33d);
$red-gradient-horiz: linear-gradient(to right, #e51600 50%, #e84700);
//-------------------------------------------------------------------------------
// Border Radius
//-------------------------------------------------------------------------------

$input-border-radius: 7px;
$layout-border-radius: 15px;
