.error-log-box {
  position: fixed;
  width: 200px;
  height: 45px;
  left: 10%;
  bottom: 10%;
  background: #fff;
  z-index: 1300;
  box-shadow: 1px 1px 1px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: red;
  }

}
